@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  color: #fffef9;
  z-index: 10;
  text-decoration: none;
  font-size: 16px;
  list-style-type: none;
  box-sizing: border-box;
  background: none;
  border: none;
  outline: none;
}

input::placeholder {
  color: #fffef9;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  aspect-ratio: 2/3;
  display: grid;
  grid-template-rows: 20px auto 1fr;
  gap: 1rem;
  border: 1px solid #ffffff;
  border-radius: 10px;
}

.button {
  min-height: 45px;
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
  background: #ffffff4d;
}

.button:hover {
  background: #0000004d;
}
